/* Color Pallete

#FFFEBD - light yellow
#F7CE65 - darker yellow
#930C10 - red wine
#290000 - dark brown
#030303 - oblivion
*/

html{
    font-size: 62.5%;
    font-family: 'Lora', serif;
}
body, header, main, div, section, img, footer {
    font-size: 1.5rem;
    color: white;
}

body{
    background-image: url('/images/rgbbackground.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header {
    display: flex;
    justify-content: space-around;
}

header, footer {
    width: 70%;
}

.subHeader {
    color: white;
}

h1 + h2 {
    font-weight: 600;
}

.subHeader > h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
  }


.adventure {
     display: flex;
     flex-direction: row;
     justify-content: center;
}

/* Image generator */

.adventure {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 30%;
}

p {
    color:ivory;
    font-size: 2rem;
    font-weight: 600;
    align-self: center;
}

#className {
    justify-self: end;
}

.raceResult, .classResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.dndClass {
    height: 200px;
}

.raceImage {
    height: 400px;
}

footer {
    height: 5%;
}


ul {
    display:flex;
    flex-direction: row-reverse;
}

li {
    display: flex;
    width: 10%;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    transition: 400ms;
    color: #930C10;
    font-size: 4rem;
}

a:hover{
    transition: 400ms;
    color: lightblue;
}

.tagline {
    display: flex;
    flex-direction: row-reverse;
}

.button{
    margin-bottom: 40px;
}


#start {
    transition: 500ms;
    background-color: #030303;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px lightblue;
}

#start:hover{
    transition: 500ms;
    background-color: darkblue;
    box-shadow: 0px 0px 10px 5px lightblue;
}

#tag {
    font-size: 1.5rem;
    color: white;
}