/* Color Pallete

#FFFEBD - light yellow
#F7CE65 - darker yellow
#930C10 - red wine
#290000 - dark brown
#030303 - oblivion
*/

html{
    font-size: 62.5%;
    font-family: 'Lora', serif;
}
body, header, main, div, section, img, footer {
    border: solid 1px red;
    font-size: 1.5rem;
}

body{
    background-color: #FFFEBD;
}

section > h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
  }


h3 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
main {
     display: flex;
     flex-direction: row;
     justify-content: center;
}

img + p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#dragonborn, #dwarf, #elf, #gnome, #halfElf, #halfling, #halfOrc, #human, #tiefling, #barbarian, #bard, #cleric, #druid, #fighter, #monk, #paladin, #ranger, #sorcerer, #rogue, #warlock, #wizard {
        display: none;
    }

.dndClass {
    height: 180px;
}

.raceImage {
    height: 275px;
}